html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
        title squarify
        link(rel='stylesheet' type='text/css' href='style.css')
    body
        h1: a(href='./') squarify
        p アップロードされた画像に背景をつけて正方形の画像で返すプログラムです。
        form(action='./download' method='POST' name='form' enctype='multipart/form-data')
            #background
                input#white(type='radio' name='radio' value='white' checked)
                label(for='white') 背景を白にする
                input#transparent(type='radio' name='radio' value='transparent')
                label(for='transparent') 背景を透明にする
            #file アップロード
                input(type='file' name='file' onchange='document.form.submit()')
